:root {
  --first-color: #d2daff;
  --second-color: #100c0c;
  --third-color: #da0463;
  --fourth-color: #404b69;
}

.dark-mode {
  --first-color: #3b3486;
  --second-color: #fff;
  --third-color: #ff8fb1;
  --fourth-color: #da0463;
}

body {
  text-align: center;
  background-color: var(--first-color);
}

#icon {
  width: 50px;
  cursor: pointer;
  float: right;
  margin-right: 75px;
}

h1 {
  font-size: 5rem;
  color: var(--second-color);
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
}

.w {
  background-image: url("/assets/images/tom1.png");
}

.a {
  background-image: url("/assets/images/tom2.png");
}

.s {
  background-image: url("/assets/images/tom3.png");
}

.d {
  background-image: url("/assets/images/tom4.png");
}

.j {
  background-image: url("/assets/images/snare.png");
}

.k {
  background-image: url("/assets/images/crash.png");
}

.l {
  background-image: url("/assets/images/kick.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: var(--third-color);
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.drum:hover {
  cursor: pointer;
}
